@keyframes color {
  0%   { background: #0f1115; }
  20%  { background: #050d3a; }
  40%  { background: #0c1b2d; }
  60%  { background: #0c2c5b; }
  80%  { background: #08192b; }
  100% { background: #0f1115; }
}
body {
  background: #33CCCC; /* Fallback */
  animation: color 9s infinite linear;
  text-align: left;
  padding: 3em;
  overflow: hidden;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  /* height: 100vh; */
  padding-left: 5em;
} 

.row {
  padding-top: 2%;
}

.css-15e9nnj {
  float: bottom;
  display: flex;
  justify-content: center;
  transform: translate(-3%, 100%);
  font-size: 2em;
  margin-top: var(--chakra-space-6);
  margin-bottom: var(--chakra-space-6);
  color: var(--chakra-colors-white);
}
.box {
  display: flex;
}
.text {
  /* user-drag: none; */
  /* -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; */
  color: azure;
}
.home-button {
  position: relative;
  display: flex;
  align-items: center;
}
.button-image {
  width: 40px; /* Adjust the width to the size of your button image */
  height: 40px; /* Adjust the height to the size of your button image */
  margin-right: 10px; /* Adjust the spacing between the image and name */
}
.name {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff; /* Adjust the color as needed */
}
.my_info {
  width: 400px;
  font-family: 'Arial';
  font-weight:200;
  font-size: 21px;
  color: azure;
}
.bold {
  font-weight: bold;
  font-style: oblique;
}
.profile-image {
  border-radius: 3vmin;
  max-width: 300px;
  max-height: 300px;
}
.description {
  margin-top: 20px;
}
.hidden {
  display: none;
}
.One {
  padding: 1em;
  width: 385px;
  height: 500px;
}
.Two {
  padding: 1em;
  width: 450px;
  height: 500px;
}
.Three {
  padding: 1em;
  width: 385px;
  height: 500px;
  overflow: hidden;
}

.spline {
  width: 400px;
  height: 400px; 
}

#image-track {
  display: flex;
  gap: 3vmin;
}
.nav-links-toggle {
  display: none;
}
/* Style for the navbar */
.navbar {
  background-color: #333; /* Change to your desired background color */
  padding: 5px;
  border-radius: 1vmin;
  color: white; /* Text color */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px; /* Set the desired height */
  max-width: 210px; /* Set the desired height */

}

/* Style for the logo image */
.button-image {
  width: 40px; /* Adjust the width to the size of your button image */
  height: 40px; /* Adjust the height to the size of your button image */
  margin-right: 10px; /* Adjust the spacing between the image and name */
}

/* Style for the name */
.name {
  font-size: 16px;
  font-weight: bold;
}

/* Style for the navigation links */
.nav-links {
  list-style: none;
  display: flex;
}

/* @media (max-width: 768px) {

  #image-track {
    flex-direction: column;
  }

  .image {
    max-width: 100%;
  }

} */

@media (max-width: 500px) {
  .One, .Two, .Three {
    width: 100%;
  }
}
.image {
  width: 29vmin;
  height: 29vmin;
  border-radius: 10%;
}