/* OVERALL */
@keyframes color {
  0% {
    background: #0f1115;
  }
  20% {
    background: #050d3a;
  }
  40% {
    background: #0c1b2d;
  }
  60% {
    background: #0c2c5b;
  }
  80% {
    background: #08192b;
  }
  100% {
    background: #0f1115;
  }
}
body {
  background: #33cccc; /* Fallback */
  animation: color 9s infinite linear;
  text-align: left;
  padding: 3em;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* height: 100vh; */
  padding-left: 5em;
}

/* NAV */
.navbar {
  background-color: #333; /* Change to your desired background color */
  padding: 5px;
  border-radius: 1vmin;
  color: white; /* Text color */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px; /* Set the desired height */
  max-width: 210px; /* Set the desired height */
}
.home-button {
  position: relative;
  display: flex;
  align-items: center;
}
.button-image {
  width: 40px; /* Adjust the width to the size of your button image */
  height: 40px; /* Adjust the height to the size of your button image */
  margin-right: 10px; /* Adjust the spacing between the image and name */
}
.nav-links-toggle {
  display: none;
}
.name {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff; /* Adjust the color as needed */
}
.nav-links {
  list-style: none;
  display: flex;
}

/* BOX */
.box {
  display: flex;
}
.One {
  padding: 1em;
  width: 385px;
  height: 500px;
}
.Two {
  padding: 1em;
  width: 450px;
  height: 500px;
}
.Three {
  padding: 1em;
  width: 385px;
  height: 500px;
  overflow: hidden;
}
.row {
  padding-top: 2%;
}
.spline {
  width: 400px;
  height: 400px;
}
#image-track {
  display: flex;
  gap: 3vmin;
}
.image {
  width: 29vmin;
  height: 29vmin;
  border-radius: 10%;
  object-fit: cover;
}
.text {
  /* user-drag: none; */
  /* -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; */
  color: azure;
}
.my_info {
  width: 400px;
  font-family: "Arial";
  font-weight: 200;
  font-size: 21px;
  color: azure;
}
.bold {
  font-weight: bold;
  font-style: oblique;
}
.profile-image {
  border-radius: 3vmin;
  max-width: 300px;
  max-height: 300px;
}

/* LINKS */
.css-15e9nnj {
  float: bottom;
  display: flex;
  justify-content: center;
  transform: translate(-3%, 100%);
  font-size: 2em;
  margin-top: var(--chakra-space-6);
  margin-bottom: var(--chakra-space-6);
  color: var(--chakra-colors-white);
}

@media (max-width: 768px) {
  .One,
  .Two,
  .Three {
    width: 100%;
  }
  .box {
    flex-direction: column;
  }
  body {
    overflow: visible;
  }
  .image-track {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    .block {
      display: inline-block;
    }
  }
}

/* ABOUT ME */

article.row {
  width: 100%;
  max-width: 850px;
  min-height: 210px;
  margin: 0 auto;
  padding: 45px 0;
}
article.row div {
  width: 49.5%;
  display: inline-block;
  position: relative;
  border: 0px solid white;
}

a:link,
a:visited {
  color: whitesmoke;
}

a:hover,
a:active {
  color: teal;
}
